# ROS build and install directories
build/
install/
log/
.colcon/

# Pixi build artifacts
pixi.lock
.pixicache/

# General IDE and editor files
*.swp
*.swo
*.bak
*.tmp
*.log
.DS_Store
.vscode/
.idea/

# Python artifacts
*.pyc
*.pyo
__pycache__/

# CMake artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Other
*.orig
*.rej
*.conda

# Documentation artifacts
rtest/doc/_build
rtest/doc/html
rtest/doc/api
rtest/doc/xml

# draw.io
*.drawio.bkp